{% extends "base.html" %}

{% block content %}
    <style>
    .button2 {
        font-size: 36px;
        width: 220px;
        height: 70px;
        border: 2px solid #4CAF50;
        border-radius: 10px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        color: green;
        margin-top: 30px;
        margin-left: 30px;
    }

    .button2:hover {
        font-size: 36px;
        width: 220px;
        height: 70px;
        background-color: #4CAF50; /* Green */
        color: white;
    }

    .stroke1 {
        font-size: 36px;
        font: sans-serif;
        color: green;
        text-shadow: yellow 0 0 2px;
    }

    .stroke2 {
        font-size: 36px;
        font: sans-serif;
        text-shadow: yellow 0 0 2px;
    }

    .style1 {
        margin-top: 30px;
        margin-left: 30px;
    }
    </style>
    <center>
    <form action="" method="post">
        <h1 class="style1">~</h1>
        <table>
            <tr>
                <th><a class="btn button2" href="/balance">Пополнить</a></th>
            </tr>
            <tr>
                <th><a class="btn button2" href="/out_balance">Вывести</a></th>
            </tr>
        </table>
        <h1 class="style1">~</h1>
    </form>
    </center>
{% endblock %}
